<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador - Batallón Pablo C. Barton</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>ADMINISTRADOR</h1>
        <form id="adminForm">
            <label for="diaEvento">Ingrese el día del evento:</label>
            <input type="text" id="diaEvento" name="diaEvento">
            
            <label for="mesEvento">Ingrese el mes del evento:</label>
            <input type="text" id="mesEvento" name="mesEvento">
            
            <label for="cantCom">¿Cuántas comidas ingresará?</label>
            <input type="text" id="cantCom" name="cantCom">
            
            <label for="categoriaCom">Ingrese la categoría de la comida:</label>
            <input type="text" id="categoriaCom" name="categoriaCom">
            
            <label for="nombreCom">Ingrese el nombre de la comida:</label>
            <input type="text" id="nombreCom" name="nombreCom">
            
            <label for="stockCom">Ingrese el stock de la comida:</label>
            <input type="text" id="stockCom" name="stockCom">
            
            <label for="precioUnitarioCom">Ingrese el precio unitario de la comida:</label>
            <input type="text" id="precioUnitarioCom" name="precioUnitarioCom">
            
            <label for="precioJuegos">Ingrese el precio unitario del voucher de juegos:</label>
            <input type="text" id="precioJuegos" name="precioJuegos">
            
            <label for="precioEntradas">Ingrese el precio unitario de las entradas:</label>
            <input type="text" id="precioEntradas" name="precioEntradas">
            
            <label for="descuentoEntradas">Ingrese el porcentaje de descuento de las entradas anticipadas:</label>
            <input type="text" id="descuentoEntradas" name="descuentoEntradas">
            
            <label for="precioCartones">Ingrese el precio unitario de los cartones:</label>
            <input type="text" id="precioCartones" name="precioCartones">
            
            <label for="precioEmpanadas">Ingrese el precio unitario de las empanadas:</label>
            <input type="text" id="precioEmpanadas" name="precioEmpanadas">
            
            <label for="precioPizzas">Ingrese el precio unitario de las pizzas:</label>
            <input type="text" id="precioPizzas" name="precioPizzas">
            
            <label for="precioLocro">Ingrese el precio unitario de la porción de locro:</label>
            <input type="text" id="precioLocro" name="precioLocro">
            
            <button type="button" id="logoutButton">Cerrar Sesion</button>
        </form>
    </div>
    <script src="static/js/admin.js"></script>
</body>
</html>
