<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador - Batallón Pablo C. Barton</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>ADMINISTRADOR</h1>
        <form id="adminForm">

            <button type="button" id="logoutButton">Cerrar Sesion</button>
        </form>
    </div>
    <script src="static/js/admin.js"></script>
</body>
</html>
