<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batallón Pablo C. Barton</title>
    <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>
    <div class="container">
        <img src="\archivos\batallonLogo.png" alt="Batallón Pablo C. Barton" class="logo">
        <h1>Ingresar como:</h1>
        <div class="button-container">
            <button class="user-button" id="taquillero">Usuario Taquillero</button>
            <button class="user-button" id="cocina">Usuario Encargado Cocina</button>
            <button class="user-button" id="cajero">Usuario Cajero</button>
            <button class="user-button" id="neverland">Usuario Neverland</button>
            <button class="user-button" id="bingo">Usuario Bingo</button>
            <button class="user-button" id="administrador">Usuario Administrador</button>
        </div>
        <button class="login-button" id="ingresar">Ingresar</button>
    </div>

    <script src="/static/js/menu.js"></script>
</body>
</html>
