<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario Neverland</title>
    <link rel="stylesheet" href="/static/css/neverland.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Neverland</h1>
        </div>
        <div class="input-panel">
            <label for="ingresoField">Ingrese la cantidad de vouchers de juegos vendidos (en 1 venta): </label>
            <input type="text" id="ingresoField" maxlength="15">
            <button id="ingresarBoton">Ingresar</button>
        </div>
    </div>
    <script src="/static/js/neverland.js"></script>
</body>
</html>