<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batallón Pablo C. Barton</title>
    <link rel="stylesheet" href="/static/css/menu.css">
</head>
<body>
    <div class="container">
        <img src="\static\archivos\batallonLogo.png" alt="Batallón Pablo C. Barton" class="logo">
        <h1>Que desea realizar:</h1>
        <div class="button-container">
            <button class="user-button" id="gestionar">Gestionar un Evento</button>
            <button class="user-button" id="cargar">Cargar un evento</button>
        </div>
    </div>

    <script src="/static/js/prelogin.js"></script>
</body>
</html>