<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión - Batallón Pablo C. Barton</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <img src="\static\archivos\batallonLogo.png" alt="Batallón Pablo C. Barton" class="logo">
        <h1>Bienvenido</h1>
        <form id="loginForm">
            <input type="text" id="codigoEvento" placeholder="Código de evento" required>
            <button type="submit" id="gestionar">Gestionar</button>
        </form>
    </div>
    <button id="backButton">Volver</button>
    <script src="/static/js/preMenu.js"></script>
</body>
</html>

