<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario Taquillero</title>
    <link rel="stylesheet" href="/static/css/taquillero.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Taquillero</h1>
        </div>
        <div class="input-panel">
            <label for="ingresoField">Ingrese la cantidad de entradas vendidas en puerta: </label>
            <input type="text" id="ingresoField" maxlength="15">
            <button id="ingresarBoton">Ingresar (en 1 venta)</button>
        </div>
        <div class="input-panel">
            <label for="ingresoFieldAnt">Ingrese la cantidad de entradas anticipadas vendidas: </label>
            <input type="text" id="ingresoFieldAnt" maxlength="15">
            <button id="ingresarBotonAnt">Ingresar (total)</button>
        </div>
    </div>
    <script src="/static/js/taquillero.js"></script>
</body>
</html>